.services-section{
    background: url(../images/healthcare_hero_592647720.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 100px 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.services-section::after{
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,rgba(17, 77, 42, 0.7), rgba(0, 112, 192, 0.7));
    position: absolute;
    top: 0;
    z-index: -1;
}
.services-para-text{
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-family: roboto;
}
.services-btn{
    width: 100%;
    background: rgba(255,255,255,0.075);
    padding: 40px 20px;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
.services-btn::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transform: scalex(0);   
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}
.services-btn:hover::after{
    transform: scalex(1);   
    z-index: -1;

}
.services-btn:hover{
    color: #000
}
.services-btn:hover img{
    filter: invert(1);
}
.services-btn img{
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
}
.services-btn h2{
    text-align: center;
    font-size: 19px;
}